/*Set your CSS Styles*/

body {
  text-align: center;
  height:100%;
	overflow: scroll;
	}

.navbar {
	margin-bottom: 0;
  /*background-image: linear-gradient(to bottom,#bcf3ff 0,#ccf6ff 100%);*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: linear-gradient(to bottom,#bcf3ff 0,#ccf6ff 100%);
}

/*.navbar-default.navbar-nav>li>a {
  color: #000;
}*/

.of-all {
  /*margin-top: 300px;*/
}

.cover {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 540px) {
  .cover {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}

.cover-heading {
	/*text-shadow: #ffffff 0 0 10px;*/
  text-shadow: #ffffff 0 0 15px, #ffffff 0 0 10px, #ffffff 0 0 4px;
  margin-bottom: 30px;
}

.boxed {
  padding: 10px;
  line-height: 200%;
  background: rgba(188, 243, 255, .9)
}

.blurb {
  text-shadow: #ffffff 0 0 15px, #ffffff 0 0 10px, #ffffff 0 0 4px;
  /*font-weight: 400;*/
}

.blurb.boxed {
	text-shadow: #bcf3ff 0 0 15px, #bcf3ff 0 0 10px, #bcf3ff 0 0 4px;
  /*font-weight: 400;*/
}

.full {
  /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;*/
  background: url('tapetunnel-web.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* attempts to fix android malalignment */
  background-position: center center;
  height: 100%;
  overflow: hidden;
}

.caption {
  /*color: #f2f2f2;*/
  color: #333;
  /*text-shadow: #ffffff 0 0 15px;*/
  text-shadow: #ffffff 0 0 15px, #ffffff 0 0 10px, #ffffff 0 0 4px;
}

h3 > a {
  color: #333;
}

h3 > a:hover {
  color: white;
  /*text-shadow: #bcf3ff 0 0 10px;*/
  text-decoration: none;
  transition: all ease-in-out .1s;
  /*text-shadow: #bcf3ff 0 0 15px, #bcf3ff 0 0 10px, #bcf3ff 0 0 4px;*/
  text-shadow: #333 0 0 15px, #333 0 0 10px, #333 0 0 4px;
}